@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext');

/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label, figure, figcaption{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#ef4129;
$color4:#30445d;
$color5:#f8f8f6;
$color6:#acacab;
$color7:#cbd0d6;



$color8:#292929;


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


body{
	display: flex;
	display: -webkit-flex;
	font-display: swap;
	flex-flow: column;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	@include font-size(1.8);
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
	.article_list .article_list_cell h3{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		// padding-top: 1rem;
	}
}

.navbar-toggle{
	display: none;
}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.form-control{
	font-family: 'Open Sans', sans-serif;
	@include font-size(1.4);	
}

/*** standart classes *****/
a{color:#020000}
h1{@include font-size(3.6); font-weight: normal;}
h2{font-size:2.4rem; font-weight: normal;}
h3{@include font-size(2.4); font-weight: normal; line-height: 1.2;}


*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.hide{
	display: none !important;
}

@mixin sprite($x:0, $y:0){
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: $x $y;
}

.before{
	content: "";
	display: block;
	position: absolute;
}

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
	}
	&.error{
		border-color: red !important;
	}
}

.text-center{
	text-align: center;
}


.title{
	@include font-size(3.6);
	position: relative;
	text-align: center;
	text-transform: uppercase;
	&:after{
		@extend .before;
		position: static;
		margin: 10px auto;
		height: 2px;
		width: 100px;
		top: 0;
		left: 0;
		background:url("data:image/gif;base64, R0lGODlhZAACAIAAAO9BKTBEXSH5BAAAAAAALAAAAABkAAIAAAISjI+py+3PgJy02gqz3hzdD0oFADs=") no-repeat center center;
	}
}

.center-block{
	margin-left: auto;
	margin-right: auto;
	display: block;
}



label.error{
	display: none !important
}

.bodyFixed{
	#fullpage .title{
		padding-top: 8rem;
	}
}

/* =header
---------------------------*/
header.fixed{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	height: 100px;
	box-shadow: 0 0 15px #ccc;

	.logo{
		img{
			width: 114px;
			height: auto;
		}
	}
	nav{
		padding-top: 3rem;
	}

	.login{
		padding-top: 3rem;
	}
}

.header{
	@include transition;
	background-color: $color2;
	height: 14rem;
	padding: 2rem 0;
	position: fixed;
	width: 100%;
	z-index: 10;
	.container{
		@include flexbox;
	}

	.close-menu{
		display: none;
	}

	nav{
		@include font-size(1.4);
		@include transition;
		flex-grow: 1;
		margin-left: 10.6rem;
		margin-right: 15.3rem;
		text-transform: uppercase;
		padding-top: 4.6rem;
		.tel{
			display: none; 
		}

		& > ul{
			@include flexbox;
			@include justify-content(space-between);
			position: relative;
			& > li{
				border-bottom: 2px solid $color2;
				&.active{
					border-bottom: 2px solid $color3;
					a, span{
						color: $color3;
					}
					span{
						cursor: default;
					}
				}
				&:hover{
					border-bottom: 2px solid $color3;
					& > a{
						color: $color3;
					}
					ul{
						opacity: 1;
						z-index: 99;
					}
				}
			}

			// ul{
			// 	transition: opacity .3s;
			// 	opacity: 0;
			// 	position: absolute;
			// 	top: 21px;
			// 	z-index: -1;
			// 	li{
			// 		padding-top: .8rem;
			// 		a{
			// 			background-color: $color4;
			// 			color: $color2;
			// 			display: block;
			// 			border-top: 1px solid $color4;
			// 			border-bottom: 1px solid $color4;
			// 			border-right: 1px solid $color4;
			// 			border-left: 3px solid $color4;
			// 			padding: .8rem 1.6rem .8rem 1.3rem;
			// 			text-transform: none;
			// 			&:hover{
			// 				background-color: $color2;
			// 				border-top-color: #5e80a3;
			// 				border-bottom-color: #5e80a3;
			// 				border-right-color: #5e80a3;
			// 				border-left-color: $color3;
			// 				color: $color1;
			// 			}
			// 		}
			// 	}
			// }
		}
		a{
			@include transition;
			text-decoration: none;
			&:hover{
				color: $color3;
			}
		}
	}

	.logo{
		width: 183px;
		img{
			@include transition;
			width: 183px;
		}
	} 
}
/* =/header
---------------------------*/


.login{
	@include transition;
	padding-top: 4.5rem;
	&-btn{
		background-color: transparent;
		@include sprite(0, 0);
		border: none;
		cursor: pointer;
		height: 20px;
		width: 25px;
		vertical-align: top;
	}
}



#map{
	height: 370px;
	width: 100%;
}

/* =social
---------------------------*/
.social{
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	position: relative;
	padding-top: 4rem;
	min-height: 13rem;
	a{
		display: block;
		overflow: hidden;
		margin: 0 1.4rem;
		img{
			vertical-align: top;
		}
		&.sitemap{
			width: 22px;
			height: 20px;
			&:hover img{
				margin-top: -20px;
			}
		}
		&.instagram{
			width: 21px;
			height: 21px;
			&:hover img{
				margin-top: -21px;
			}
		}
		&.facebook{
			width: 13px;
			height: 24px;
			&:hover img{
				margin-top: -24px;
			}
		}
		&.googleplus{
			height: 20px;
			width: 31px;
			&:hover img{
				margin-top: -20px;
			}
		}

		&.email{
			@include rounded(50%);
			background-color: $color4;
			height: 102px;
			margin-left: 6rem;
			margin-right: 6rem;
			padding-top: 34px;
			text-align: center;
			transition: background-color .2s;
			width: 102px;
			&:hover,
			&.active{
				background-color: $color3;
			}
		}
	}

	.modal-email{
		@include rounded(1rem);
		background-color: $color5;
		border: 3px solid $color4;
		bottom: 13.5rem;
		display: none;
		left: 50%;
		margin-left: -270px;
		padding: 5.6rem 2rem 3.3rem;
		position: absolute;
		width: 535px;
		z-index: 9999;
		&:after{
			@extend .before;
			width: 27px;
			height: 15px;
			background: url(../images/form-arrow.gif) no-repeat center center;
			bottom: -15px;
			left: 50%;
			margin-left: -14px;
		}
		form{
			padding-top: .5rem;
		}

		.modal-title{
			@include font-size(2.4);
			color: $color4;
			font-weight: normal;
			text-align: center;
		}
		.form-control{
			@include font-size(1.4);
			@include rounded(.5rem);
			border: 3px solid $color2;
			color: $color1;
			height: 5rem;
			margin-top: 2.4rem;
			padding-left: 1.6rem;
			padding-right: 1.6rem;
			transition: border-color .2s;
			width: 100%;
			&:focus,
			&:active{
				border-color: $color4;
			}
		}
		textarea.form-control{
			height: 17rem;
			padding-top: 1rem;
		}

		.submit-btn{
			margin-top: 3rem;
		}
	}

	.thank{
		text-align: center;
		padding: 2rem 0 4rem;
	}
}

button.close{
	@include sprite(0, -21px);
	background-color: transparent;
	border: none;
	height: 20px;
	position: absolute;
	right: 27px;
	top: 19px;
	width: 21px;
	cursor: pointer;
	&:hover{
		background-position: -21px -21px;
	}
}
.submit-btn{
	@include font-size(1.8);
	@include rounded(.5rem);
	background-color: $color4;
	border: none;
	color: $color2;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding: 1.6rem 3.5rem;
	text-transform: uppercase;
	transition: opacity .2s;
	&:hover{
		opacity: .9;
	}
}
/* =/social
---------------------------*/


.lightbox{
	display: block;
	overflow: hidden;
	position: relative;
	img{
		@include transition-param(transform);
		height: 100%; 
		vertical-align: top;
		width: 100%; 
	}
	&:after{
		@extend .before;
		@include transition;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10;
		background: url(../images/zoom.png) no-repeat center center;
		opacity: 0;
	}
	&:hover{
		img{
			transform: scale(1.1);
		}
		&:after{
			background-color: rgba(48, 68, 93, .25);
			opacity: 1;
		}
	}
}

/* =footer
---------------------------*/
footer{
	@include font-size(1.4);
	color: $color4;
	margin-top: 3.3rem;
	padding-bottom: 4rem;
	text-align: center;
	.container{
		border-top: 1px solid $color4;
		padding: 4rem 0 0;
	}
	a{
		@extend .tdn;
		color: $color4;
	}
}

#section6{
	.social{
		min-height: 0; 
	}
	footer{
		padding-bottom: 0;
	}
}
/* =footer
---------------------------*/


#up{
	@include rounded(50%);
	background: $color4;
	border: 3px solid $color4;
	bottom: 50px;
	display: none;
	height: 7rem;
	position: fixed;
	right: 55px;
	transition: background-color .3s;
	width: 7rem;
	&:before{
		@extend .before;
		@include sprite(0, -41px);
		height: 17px;
		left: 50%;
		margin-left: -14px;
		margin-top: -8px;
		top: 50%;
		width: 28px;
	}
	&:hover{
		&:before{
			background-position: -29px -41px;			
		}
		background-color: $color2;
	}
}


.callme{
	@include font-size(1.7);
	@include rounded(7rem);
	background-color: $color3;
	bottom: 150px;
	color: $color2;
	cursor: pointer;
	height: 7rem;
	overflow: hidden;
	position: fixed;
	right: 55px;
	transition: width .3s;
	width: 7rem;
	&:before{
		@extend .before;
		@include sprite(-45px, -58px);
		height: 32px;
		left: 50%;
		margin-left: -16px;
		margin-top: -16px;
		top: 50%;
		width: 32px;
	}
	&.expand{
		padding-left: 87px;
		padding-right: 30px;
		width: 38rem;
		&:before{
			@extend .before;
			@include sprite(0, -58px);
			height: 45px;
			width: 45px;
			left: 35px;
			top: 27px;
		}
		.inner{
			@include flexbox;
			min-width: 260px;
		}
	}
	.inner{
		display: none;
		height: 100%;
		@include align-items(center);
	}
}

/* =contacts
---------------------------*/
.contacts{
	.title{
		padding-bottom: 1.5rem;
	}

	#map{
		height: 390px;
		margin-top: 2rem;
	}
}
/* =contacts
---------------------------*/



#loginModal{
	.modal-title{
		display: inline-block;
		margin-left: 3rem;
		position: relative;
		&:before{
			@extend .before;
			@include sprite(0,0);
			width: 25px;
			height: 20px;
			top: 8px;
			left: -43px;
		}
	}
}

.modal-open {
	overflow: hidden !important;
}
.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	padding-right: 0 !important;
	label{
		color: $color2;
		display: block;
		height: 0;
	}

	.btn{
		@extend .center-block;
		margin-top: 3rem;
	}

	form{
		div{
			position: relative;
			margin-top: 1.7rem;
			label.error{
				background: url(../images/error_icon.png) no-repeat left top;
				width: 21px;
				height: 21px;
				position: absolute;
				right: -25px;
				top: 13px;
			}
		}
	}
}
.modal.fade .modal-dialog {
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	margin: 10px;
	position: relative;
	width: auto;
	.form-control{
		border: 1px solid $color2;
		width: 100%;
		height: 5rem;
		@include rounded(10px);
		padding-left: 1.8rem;
		padding-right: 1.8rem;
	}
}
.modal-content {
	background-color: $color5;
	border: 3px solid $color4;
	position: relative;
	border-radius: 15px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000000;
}
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}
.modal-backdrop.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.modal-header {
	color: $color4;
	padding: 4rem 42px 0;
	text-align: center;
	.subtitle{
		@include font-size(1.8);
	}
}
button.close {

}
.modal-title {
	@include font-size(2.4);
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	position: relative;
	padding: 0 42px 45px;
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
@media (min-width: 768px) {
	.modal-dialog {
		width: 353px;
		margin: 7% auto;
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
	.modal-sm {
		width: 300px;
	}
}
@media (min-width: 992px) {
	.modal-lg {
		width: 900px;
	}
}
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
	content: " ";
	display: table;
}
.modal-header:after,
.modal-footer:after {
	clear: both;
}


// main
.main{
	padding-top: 140px;
	.sitemap{
		margin-top: 8rem;
		li{
			margin: .5rem 0;
		}
		ul{
			list-style: disc;
			margin-left: 3.5rem;
			margin-top: .5rem;
		}
		a{
			@extend .tdu;
		}
	}
}



/* =breadcrumbs
---------------------------*/
.breadcrumbs{
	background-color: $color5;
	margin-bottom: 3.5rem;
	padding: 1.2rem 0;
	ul{
		li{
			@include font-size(1.4);
			display: inline-block;
			margin-right: .5rem;
			padding-right: 1.4rem;
			position: relative;
			&:after{
				@extend .before;
				@include rounded(50%);
				background-color: $color4;
				height: 6px;
				right: 0;
				top: 8px;
				width: 6px;
			}
			&.active,
			&.B_lastCrumb,
			&.B_currentCrumb{
				&:after{
					display: none !important;
				}
			}
			a{
				@extend .tdn;
			}
		}
	}
}

/* =/breadcrumbs
---------------------------*/



/* =pagination
---------------------------*/
.pagination{
	margin: 5rem 0;
	ul{
		li{
			display: inline-block;
			margin-left: .3rem;
			margin-right: .3rem;
			&.prev,
			&.next{
				a, span{
					position: relative;
					text-indent: -9999em;
					&:before{
						@extend .before;
						@include sprite(-50px, 0);
						height: 12px;
						top: 15px;
						width: 7px;
					}
				}
			}

			&.prev{
				margin-right: 1.2rem;
				a, span{
					&:before{
						left: 15px;
					}
				}
			}
			&.next{
				margin-left: 1.5rem;
				a, span{
					&:before{
						@include rotation(180deg);
						left: 18px;
					}
				}
			}
			&.disabled{
				span{
					&:hover{
						border-color: #ccc;
					}
				}
			}
			a, span{
				@include rounded(50%);
				@include transition;
				border: 2px solid $color2;
				display: block;
				height: 4.5rem;
				line-height: 1;
				padding-top: 1.1rem;
				text-decoration: none;
				width: 4.5rem;

				&.active{
					color: $color2;
					background-color: $color4;
					border-color: $color4;
				}
				&:hover{
					border-color: $color4;
				}
			}
		}
	}
}
/* =/pagination
---------------------------*/