::-ms-clear {
        display: none;
}

/* Safari 10.0+ */
_::-webkit-:host:not(:root:root), .intro{
		background: url(../images/bg-1.jpg) no-repeat center center / cover;
		.bg1,
		.bg2,
		.bg3,
		.bg4{
			background: none !important;
		}
}


_::-webkit-:host:not(:root:root), .intro .container{
	display: block;
	height: 800px;
}

_::-webkit-:host:not(:root:root), .intro .text{
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

_::-webkit-:host:not(:root:root), .project-list{
	.container{
		padding-bottom: 5rem;
	}
}


_::-webkit-:host:not(:root:root), .building-list{
	.container{
		padding-bottom: 5rem;
	}
}


@media (max-width: 600px){
	_::-webkit-:host:not(:root:root), .intro .text{
		margin-top: 20px;
	}
	_::-webkit-:host:not(:root:root), .intro .container{
		height: auto;
	}
}



.ie10 .article_list_cell h3{
	display: block;
}

.ie10 .page .flexbox main{
	float: left;
}
.ie10 .page .flexbox aside{
	float: right;
}

.ie10 .page .flexbox aside ul li a .desc{
	display: block;
	width: 70%;
}

.ie10 .gallery a{
	float: left;
	display: block;
}