.contacts_info{
	@include flexbox;
	@include justify-content(space-between);
	padding-top: 2.4rem;

	.pic{
		height: 75px;
	}
	img{
		vertical-align: bottom;
	}
	&_title{
		color: $color3;
		margin: 2.1rem 0 .5rem;
	}
	&_field{
		height: 7rem;
		display: table-cell;
		vertical-align: middle;
		a{
			text-decoration: none;
		}
	}
}

.feedback{
	margin: 8.7rem 0 5rem;
	.head{
		@include font-size(2.4);
		padding-bottom: 1.7rem;
	}

	form{
		.row{
			@include flexbox;
			@include justify-content(space-between);
			.form-control{
				width: 49%;
			}
		}
	}
	.form-control{
		@include font-size(1.8);
		@include rounded(5px);
		border: 3px solid $color4;
		height: 4.8rem;
		margin-top: 3rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	textarea.form-control{
		height: 12rem;
		padding-top: 1rem;
		width: 100%;
	}

	.submit{
		margin-top: 2.5rem;
	}
}