/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

@mixin rounded($radius: 2px) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin transform($arguments) {
	-webkit-transform: $arguments; // Chrome, Safari, iOS Safari, Android Stock
	-ms-transform: $arguments; // IE9
	transform: $arguments;
}

@mixin rotation($deg:5deg){
	@include transform(rotate($deg));
}

@mixin translate($x:0, $y:0) {
  @include transform(translate($x, $y));
}

@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
	-webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

@mixin transition($duration:0.2s, $ease:ease-out) {
	-webkit-transition: all $duration $ease;
	transition: all $duration $ease;
}

@mixin transition-param($param:opacity, $duration:0.2s, $ease:ease-out) {
	-webkit-transition: $param $duration $ease;
	transition: $param $duration $ease;
}

@mixin transition-duration($duration: 0.2s) {
	-moz-transition-duration: $duration;
	-webkit-transition-duration: $duration;
	-o-transition-duration: $duration;
	transition-duration: $duration;
}


@mixin placeholder($color: #fff){
	&::-webkit-input-placeholder {color:$color;}
	&::-moz-placeholder          {color:$color;}// Firefox 19+ 
	&:-ms-input-placeholder      {color:$color;}

	&:focus::-webkit-input-placeholder {line-height: 100px; transition: line-height 0.5s ease;}
	&:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;}
	&:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}	
}


@mixin x-linear-gradient ($direction: 'to bottom', $fallback: #ccc, $from: #ccc, $to: #aaa) {
	$directions: helper-gradient-angle($direction);

	// Provide a fallback-color
	background-color: $fallback;

	// Cross-browser linear-gradients
	background-image: -webkit-gradient(linear, unquote(nth($directions, 2)), from($from), to($to)); // Android 2.1-3.0
	background-image: -webkit-linear-gradient(unquote(nth($directions, 1)), $from, $to);
	background-image:         linear-gradient(unquote($direction), $from, $to);
}


/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/