#section1{
	.fp-tableCell{
		@include flexbox;
		flex-direction: column;
	}
}

.intro{
	// background: url(../images/bg-1.jpg) no-repeat center center / cover;
	
	background: #104378;
	background: linear-gradient(to bottom, #104378 15%, #fff);
	color: $color2;
	flex: 1;

	.bg1,
	.bg2,
	.bg3,
	.bg4{
		@include flexbox;
		flex: 1; 
		height: 100%;
	}


	.bg1{
		background: url(../images/cloud.png) no-repeat center 50px;
	}
	.bg2{
		background: url(../images/forest.png) no-repeat center 200px;
	}
	.bg3{
		background: url(../images/house.png) no-repeat center 150px;
	}
	.bg4{
		background: url(../images/bushes.png) no-repeat center 150px;
	}

	.container{
		@include flexbox;
		height: 100%;
	}
	.text{
		@include flexbox;
		@include align-items(center);
		@include font-size(2.4);
		@include rounded(1.5rem);
		background: rgba(48, 68, 93, 0.48);
		flex-direction: column;
		line-height: 1.3;
		margin: auto;
		padding: 7.5rem 3rem 7rem;
		position: relative;
		text-align: center;
		top: 40px;
		width: 787px;
	}
	.buttons{
		padding-top: 4.8rem;
		.btn{
			@include font-size(1.8);
			@include rounded(.4rem);
			@include transition();
			background: $color2;
			border: 2px solid $color2;
			color: $color4;
			display: inline-block;
			margin: 0 4rem;
			padding: 1.4rem 3rem;
			text-decoration: none;
			&:hover{
				background: none;
				color: $color2;
			}
		}
	}

	.mouse{
		position: absolute;
		left: 50%;
		margin-left: -10px;
		bottom: 28px;
	}
}


/* =about
---------------------------*/
.about{
	background: url(../images/bg-2.png) no-repeat center top, url(../images/bg-2-f.png) no-repeat center bottom -100px;
	.text{
		color: $color4;
		@include font-size(1.4);
		p{
			line-height: 1.7;
			margin: 3rem 0;
		}
	}

	.advantages{
		@include flexbox;
		@include justify-content(space-between);
		color: $color4;
		padding-top: 2rem;
		text-align: center;
		.num{
			@include font-size(6);
			position: relative;
			&:after{
				@extend .before;
				border-bottom: 2px solid $color3;
				bottom: -6px;
				left: 50%;
				margin-left: -35px;
				width: 70px;
			}
		}
		p{
			padding-top: 2.5rem;
		}
	}
}
/* =/about
---------------------------*/


/* =services
---------------------------*/
.services,
.building-list{
	.title{
		color: $color2;
		&:after{
			background-image:url("data:image/png;base64,R0lGODlhZAACAIAAAO9BKf///yH5BAAAAAAALAAAAABkAAIAAAISjI+py+3PgJy02gqz3hzdD0oFADs=");
		}
	}	
}




.animated { -webkit-animation-fill-mode:both; animation-fill-mode:both;}

@-webkit-keyframes fadeIn {
	0% { opacity:0;}
	100% { opacity:1;}
}
@keyframes fadeIn {
	0% { opacity:0;}
	100% { opacity:1;}
}




.services{
	background: url(../images/bg-3.jpg) no-repeat center center / cover;
	color: $color2;
	.container{
		position: relative;		
	}

	a{
		@include font-size(2.2);
		@include transition;
		color: $color2;
		text-decoration: none;
		&:hover{
			color: $color3;
		}
	}
	
	.text{
		position: relative;
	}

	.line{
		position: absolute;
		height: 470px;
		left: 50%;
		top: 0;
		width: 14px;
		margin-left: -7px;
		&:before{
			@extend .before;
			@include rounded(50%);
			background: $color2;
			height: 14px;
			width: 14px;
		}

		.animated{
			height: 53px;
			margin-bottom: 60px;
		}
	}

$delayLStart : .2s;
$durL : .5s;
$durC : .5s;
$delayC : .8s;

	.line_1_1,
	.line_1_2,
	.line_1_3,
	.line_1_4
	{
		background: $color2;
		transition: height linear $durL;
		height: 0;
		margin-left: 5px;
		width: 3px;
	}


	.line_1_1{
		-webkit-transition-delay: $delayLStart;
		transition-delay: $delayLStart;
	}
	.line_1_2{
		-webkit-transition-delay: $delayLStart + $durC;
		transition-delay: $delayLStart + $durC;
	}
	.line_1_3{
		-webkit-transition-delay: $delayLStart + 2*$durC;
		transition-delay: $delayLStart + 2*$durC;
	}
	.line_1_4{
		-webkit-transition-delay: $delayLStart + 3*$durC;
		transition-delay: $delayLStart + 3*$durC;
	}


	ul{
		height: 470px;
		margin-top: 5rem;
		padding-top: 1rem;
		li{
			line-height: 1;
			margin: 6rem 0;
			min-height: 5.3rem;
			opacity: 0;
			position: relative;
			z-index: 10;
			&:nth-child(odd){
				padding-right: 5rem;
				position: relative;
				text-align: right;
				width: 50%;
				a{
					position: relative;
					&:after{
						@extend .before;
						background: url(../images/circle.png) no-repeat right top;
						height: 60px;
						right: -80px;
						top: -13px;
						width: 60px;
					}
				}
			}
			&:nth-child(even){
				padding-left: calc(50% + 5rem);
				a{
					position: relative;
					&:before{
						@extend .before;
						background: url(../images/circle.png) no-repeat left top;
						height: 60px;
						left: -80px;
						top: -13px;
						width: 60px;
					}	
				}
			}

			&.fadeIn{
				-webkit-animation-name:fadeIn;
				animation-name:fadeIn;
				-webkit-animation-duration:$durC;
				animation-duration:$durC;
				&.service-1{
					-webkit-animation-delay: $delayLStart + $durL;
					animation-delay: $delayLStart + $durL;
				}
				&.service-2{
					-webkit-animation-delay: $delayLStart + $durL + $durC ;
					animation-delay: $delayLStart + $durL + $durC ;
				}
				&.service-3{
					-webkit-animation-delay:  $delayLStart + 2*$durL + $durC ;
					animation-delay:  $delayLStart + 2*$durL + $durC ;
				}
				&.service-4{
					-webkit-animation-delay:  $delayLStart + 2*$durL + 2*$durC ;
					animation-delay:  $delayLStart + 2*$durL + 2*$durC ;
				}
			}	
		}
	}
}
/* =/services
---------------------------*/


/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	background: #9e5406;
}

figure.effect-bubba img {
	// opacity: 0.7;
	@include rounded(4px);
	-webkit-transition: opacity 0.35s;
	transition: transform 0.35s;
	// @include transition-param(opacity);
}

figure.effect-bubba:hover img {
	opacity: 0.7;
	transform: scale(1.1);
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h4 {
	font-weight: normal;
	@include font-size(2.3);
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

@media (max-width: 1920px){
	figure.effect-bubba h4 {
		-webkit-transform: translate3d(0,-12px,0);
		transform: translate3d(0,-12px,0);
	}	
}


figure.effect-bubba p {
	@include font-size(1.5);
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h4,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* =project-list
---------------------------*/
.project-list{
	background: url(../images/pic-left.png) no-repeat -100% top ,  url(../images/pic-right.png) no-repeat left 300% top 0;
	background-size: contain;
	-webkit-transition: all 2.5s ease;
	transition: all 2.5s ease;
	will-change: transform;
	&.showbg{
		background-position: 0 top, left 100% top;
		@media (min-height: 1000px){
			background-position: 0 top, left 122% top;
		}
		@media (min-height: 1200px){
			background-position: -100% top, left 165% top;
		}
	}
}	

.building-list,
.project-list{
	.cell{
		text-transform: uppercase;
	}

	.flexbox{
		@include flexbox;
		@include justify-content(space-between);
		flex-wrap: wrap;
		.cell{
			height: 360px;
			margin-top: 2.5rem;
			position: relative;
			width: 49%;
			@include flexbox;
			a{
				@include font-size(2.4);
				color: $color2;
				display: block;
				overflow: hidden;
				text-decoration: none;
				text-transform: uppercase;
			}
			img{
				max-width: 100;
				margin-top: -39px;		
				vertical-align: top;
			}
		}
	}

	figure {
		@include rounded(4px);
		background: #3085a3 none repeat scroll 0 0;
		cursor: pointer;
		display: block;
		max-height: 360px;
		min-width: 320px;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 100%;
	}

	figure figcaption, figure figcaption > a {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	figure figcaption {
		backface-visibility: hidden;
		color: #fff;
		padding: 1.8rem;
		text-transform: uppercase;
	}


	@media (max-width: 1920px){
		.title{
			/* padding-top: 5rem; */
		}
		.flexbox .cell{
			height: 320px;
		}

		figure{
			max-height: 320px;
		}

		figure.effect-bubba h4{
			padding-top: 26%;
		}
	}
}
/* =/project-list
---------------------------*/


.fp-completely{
}
/* =building-list
---------------------------*/
.building-list{
	background: url(../images/bg-5.jpg) no-repeat center center / cover;
}

.building-list{
	background: url(../images/pic-left.png) no-repeat -100% top ,  url(../images/pic-right.png) no-repeat left 300% top 0;
	background-size: contain;
	-webkit-transition: all 2.5s ease;
	transition: all 2.5s ease;
	will-change: transform;
	.fp-tableCell{
		background-color: rgba(48, 68, 93, .72);
	}
	&.showbg{
		background-position: 0 top, left 100% top;
		@media (min-height: 1000px){
			background-position: 0 top, left 122% top;
		}
		@media (min-height: 1200px){
			background-position: -100% top, left 165% top;
		}		
	}
}


/* =/building-list
---------------------------*/

