.gallery{
	margin-top: 4rem;
	margin-bottom: 4rem;
	@include flexbox;
	-ms-flex-direction: column;
	@include flex-flow(row wrap);
	a{
		-webkit-box-flex: auto;
		-ms-flex: auto;
		flex: auto; 
		margin: 2px; 
		overflow: hidden;
		position: relative;
		width: 200px; 
		z-index: 1;
		img{
			@include transition-param(transform);
			height: 100%; 
			vertical-align: top;
			width: 100%; 
		}
		&:before{
			@extend .before;
			@include transition;
			background: url(../images/zoom.png) no-repeat center center;
			height: 100%;
			left: 0;
			opacity: 0;
			top: 0;
			width: 100%;
			z-index: 10;
		}
		&:hover{
			img{
				transform: scale(1.1);
			}
			&:before{
				opacity: 1;
				background-color: rgba(48, 68, 93, .25);
			}
		}
	}
}