.gallery{
	margin-top: 4rem;
	margin-bottom: 4rem;
	@include flexbox;
	-ms-flex-direction: column;
	@include flex-wrap;
	@include flex-flow(row wrap)
	a{
		-webkit-box-flex: auto;
		-ms-flex: auto;
		flex: auto; 
		margin: 2px; 
		width: 200px; 
		img{
			height: 100%; 
			vertical-align: top;
			width: 100%; 
		}
	}
}