@media (min-height: 1000px){
	.contacts #map{
		margin-top: 5rem;
		height: 420px;
	}
	.social{
		padding-top: 7rem;
	}
}
@media (min-height: 1200px){
	.contacts #map{
		height: 550px;
	}
}
@media (min-height: 1350px){
	.contacts #map{
		height: 650px;
	}
}


@media (max-width: 1199px){
}

@media (max-width: 1024px){
}

@media (max-width: 991px){
}

@media (max-width: 767px){
}

@media (max-width: 545px){
}
